DATABASE_URL=postgresql://postgres:SUA_SENHA_DO_BANCO@db.ghwhyalgqygpfvppopny.supabase.co:5432/postgres
DATABASE_SSL=true
CORS_ORIGIN=http://localhost:5173
PORT=3000
SOILGRIDS_DELAY_MS=12500
API_BASE_URL=http://localhost:3000
